* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 100%;
  background: #212121;
}
nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
}
nav .menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
nav .menu .menu_item:nth-child(6) {
  border: none;
}
nav .menu .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  font-weight: 200;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5;
}
.subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}
.subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 13px;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  outline: none;
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.promo {
  min-height: 800px;
  background: url("../img/bg_uber.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo .promo_header {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 60px;
  margin: 0;
}
.promo .promo_subheader {
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 36px;
  margin: 0;
  margin-top: 18px;
}
.promo .promo_descr {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}
.promo .promo_btn {
  display: block;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  margin: 118px auto;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  outline: none;
}
.promo .promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.block-mark {
  width: 115px;
  height: 24px;
  background: #000000;
  margin: 0 auto;
  font-size: 11px;
  text-align: center;
  padding-top: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.work {
  min-height: 849px;
  padding: 18px 0 64px 0;
}
.work .work_header {
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 32px;
}
.work .work_box {
  margin-top: 26px;
  height: 640px;
}
.work .work_box .work_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
}
.work .work_box .work_item .work_icon {
  display: inline-block;
  position: relative;
  width: 116px;
  height: 116px;
  background-color: #1EACC7;
  border-radius: 50%;
}
.work .work_box .work_item .work_icon .work_inputImg {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.work .work_box .work_item .work_text {
  display: inline-block;
  width: 371px;
  margin-left: 25px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  vertical-align: top;
}
.work .work_box .work_item .work_text span {
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}

.title {
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  margin-top: 30px;
}

.subtitle {
  font-size: 17px;
  text-align: center;
  color: #222222;
  font-weight: 400;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg_mobileApp.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 11px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/bg_card1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/bg_card2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/bg_card3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/bg_card4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/bg_card5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/bg_card6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 29px;
  height: 29px;
  background: #000000;
  border-radius: 100%;
  cursor: pointer;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.mark-invers {
  background-color: #FFF;
  color: #070716;
}

.text-invers {
  color: #FFF;
}

.select {
  min-height: 898px;
  background: url("../img/bg_select.png") center center/cover no-repeat;
  padding: 59px 0 137px 0;
}
.select_contentBlock {
  width: 100%;
  margin: 0 auto;
  margin-top: 54px;
  text-align: center;
}
.select_contentBlock .select_image {
  width: 100%;
}
.select_contentBlock .select_text {
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.require {
  padding: 68px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nbm {
  margin-bottom: 0;
}
.require_descr {
  font-weight: 300;
  font-size: 17px;
  color: #1CA8C3;
}
.require_title {
  font-size: 22px;
  font-weight: 400;
  color: #1CA8C3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/marker_blue.png") center center/cover no-repeat;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li:before {
  background: url("../img/marker_red.png") center center/cover no-repeat;
}

.world {
  min-height: 717px;
  background: url("../img/bg_world.png") center center/cover no-repeat;
  padding: 48px 0 50px 0;
}
.world_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 490px;
}
.world_link {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #1EACC7;
}
.world_link:hover {
  color: #FF5656;
  text-decoration: none;
}

.media {
  display: inline-block;
  margin: 38px 0px 32px 0px;
  height: 35px;
}
.media_item {
  margin-right: 6px;
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #070716;
}
.media_image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.store {
  display: inline-block;
  margin: 40px 0 37px 0;
  padding: 0;
}

footer {
  padding: 14px 23px 39px 23px;
}
footer a:hover {
  text-decoration: none;
}

.footer {
  width: 100%;
}
.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}
.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 32px;
}
.footer_wrapper > div {
  width: 33%;
}
.footer_wrapper > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 34%;
}
.footer_social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_social_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}
.footer_social_item i {
  color: #fff;
}
.footer_links {
  width: 390px;
  margin: 0 auto;
}
.footer_links_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_links_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  nav .menu .menu_item {
    padding-right: 20px;
  }
  nav .menu .menu_link {
    font-size: 13px;
  }

  .promo .promo_header {
    font-size: 50px;
  }
  .promo .promo_descr {
    font-size: 15px;
  }

  .work .work_header {
    font-size: 34px;
  }
  .work .work_box .work_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .work .work_box .work_item .work_text {
    width: 300px;
    font-size: 12px;
  }
  .work .work_box .work_item .work_text span {
    font-size: 14px;
  }

  .title {
    font-size: 34px;
  }

  .mobile .mobile_item {
    width: 305px;
    height: 265px;
  }
  .mobile .mobile_item .mobile_item_subtitle {
    font-size: 21px;
  }

  .require .require_block .require_title {
    font-size: 20px;
  }
  .require .require_block .require_list li {
    font-size: 15px;
  }
  .require .require_block .require_descr {
    font-size: 15px;
  }

  footer .footer_wrapper div .footer_links {
    width: 300px;
  }
  footer .footer_wrapper div .footer_links .footer_links_main a {
    font-size: 13px;
  }
  footer .footer_wrapper div .footer_links .footer_links_sub a {
    font-size: 9px;
  }
  footer .footer_wrapper div .footer_links .footer_links_lang {
    font-size: 9px;
  }
}
@media (max-width: 991px) {
  nav .menu .menu_item {
    padding-right: 8px;
  }
  nav .menu .menu_link {
    font-size: 10px;
  }

  .subheader .subheader_logo img {
    width: 100%;
  }
  .subheader .subheader_official {
    font-size: 11px;
  }
  .subheader .subheader_phone {
    font-size: 18px;
  }
  .subheader .subheader_btn {
    margin-top: 23px;
    width: 100%;
    height: 40px;
  }

  .promo .promo_header {
    font-size: 40px;
  }
  .promo .promo_subheader {
    font-size: 30px;
  }

  .work {
    min-height: 1470px;
  }
  .work .work_header {
    font-size: 27px;
  }
  .work .work_box .work_item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 285px;
    margin-top: 35px;
  }
  .work .work_box .work_item .work_text {
    margin-top: 20px;
    width: 300px;
    font-size: 12px;
  }
  .work .work_box .work_item .work_text span {
    font-size: 14px;
  }

  .title {
    font-size: 27px;
  }

  .subtitle {
    font-size: 15px;
  }

  .mobile .mobile_item {
    width: 220px;
    height: 185px;
    padding-top: 50px;
  }
  .mobile .mobile_item .mobile_item_subtitle {
    font-size: 13px;
  }

  .require .require_block .require_title {
    font-size: 18px;
  }
  .require .require_block .require_list li {
    font-size: 13px;
  }
  .require .require_block .require_descr {
    font-size: 13px;
  }

  footer {
    padding: 14px 7px 39px 7px;
  }
  footer .footer_wrapper div .footer_social {
    width: 155px;
  }
  footer .footer_wrapper div .footer_links {
    width: 268px;
  }
  footer .footer_wrapper div .footer_links .footer_links_main a {
    font-size: 13px;
  }
  footer .footer_wrapper div .footer_links .footer_links_sub a {
    font-size: 9px;
  }
  footer .footer_wrapper div .footer_links .footer_links_lang {
    font-size: 9px;
  }
  footer .footer_wrapper div .footer_mobile a img {
    width: 70px;
  }
}
@media (max-width: 767px) {
  nav .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  nav .menu .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  nav .menu .menu_link {
    font-size: 20px;
  }
  nav .menu_active {
    left: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .promo .promo_header {
    font-size: 40px;
    line-height: 45px;
  }
  .promo .promo_subheader {
    font-size: 30px;
  }

  .work {
    min-height: 2725px;
  }

  .mobile .row {
    margin-right: 0;
    margin-left: 0;
  }
  .mobile .row .col-md-4 {
    width: 50%;
  }

  .select {
    min-height: 740px;
  }

  footer {
    padding: 14px 0 39px;
  }
  footer .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 24px;
  }
  footer .footer_wrapper div {
    width: 300px;
    margin-top: 10px;
  }
  footer .footer_wrapper div:nth-child(2) {
    margin-top: 0;
    -webkit-box-ordinal-group: -9;
        -ms-flex-order: -10;
            order: -10;
  }
  footer .footer_wrapper div:nth-child(3) {
    width: 300px;
  }
  footer .footer_wrapper div .footer_links {
    width: 300px;
    margin-right: 0;
    margin-left: 0;
  }
  footer .footer_wrapper div .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
  footer .footer_wrapper div .footer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
  footer .footer_wrapper div .footer_mobile a {
    margin-right: 10px;
  }
  footer .footer_wrapper div .footer_mobile a img {
    width: 90px;
  }
  footer .footer_wrapper div .footer_mobile a:nth-child(3) {
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader .subheader_official {
    display: none;
  }
  .subheader .subheader_logo {
    margin-top: 16px;
  }
  .subheader .subheader_phone {
    margin-top: 11px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader .subheader_btn {
    margin-top: 6px;
    width: 110px;
    height: 22px;
    font-size: 10px;
  }

  .promo {
    min-height: 400px;
    padding: 143px 0 35px 0;
  }
  .promo .promo_descr {
    display: none;
  }
  .promo .promo_header {
    font-size: 30px;
    padding: 0px 24px;
    line-height: 35px;
  }
  .promo .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    line-height: 30px;
  }
  .promo .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
    margin-bottom: 0;
  }

  nav {
    height: 30px;
  }
  nav .menu {
    width: 85%;
    height: 100%;
  }
  nav .menu .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  nav .menu .menu_item .menu_link {
    display: block;
  }

  .work .work_header {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 15px;
  }
  .work .work_box .work_item {
    margin-top: 25px;
  }
  .work .work_box .work_item .work_icon {
    width: 100px;
    height: 100px;
  }
  .work .work_box .work_item .work_text {
    width: 100%;
  }

  .title {
    font-size: 15px;
    margin-top: 15px;
    line-height: 15px;
  }

  .mobile .row .col-md-4 {
    width: 100%;
  }

  .select {
    min-height: 565px;
    padding-bottom: 80px;
  }
}

/*# sourceMappingURL=style.css.map */